{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Pedidos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">

</head>
<body>
    <h1> Lista de Pedidos</h1>
    <ul>
        <li>
    {% for pedido in pedido %}

        {{ pedido }} - <a href= "{% url 'appcore:atualizar' pedido.id %}">Atualizar</a>
                       <a href= "{% url 'appcore:deletar' pedido.id %}">Excluir</a><br>
    {% endfor %}

        </li>
    </ul>
</body>
</html>